.imgName{
    font-size: 1.2rem;
    margin-bottom: .3rem;
    letter-spacing: .1rem;
}

.container{
    text-align: center;
    flex: 0 0 32.5%;
    min-width: 46rem;
    padding: 1rem;
    min-height: 33rem;
}

.comparison{
    width: 100%;
}

@media only screen and (max-width: 500px)  {
    .container{
        flex-grow: 1;
        padding: .4rem;
        padding-bottom: 1rem;
    }
}