.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(14,149,91);
    background: linear-gradient(90deg, rgba(14,149,91,1) 0%, rgba(34,207,25,1) 27%, rgba(14,149,91,1) 59%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    z-index: 90;

    & nav {
        height: 100%;
    }
}

.Logo {
    height: 90%;
    margin-left: 1rem;
}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}