*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*Good practice. All elements inherit from their parent aka body*/ }

html {
  font-size: 62.5%;
  /*Set a universal font-size for the browser so that we can use rem*/
  /* We set it in percentage because we want to the user to be able to change the browser's
    default font size. 16*0.625 = 10 */ }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25rem) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } 
}

body {
  box-sizing: border-box;
  /* change the box model so 
                            that borders and paddings are 
                            no longer added to the total width and height 
                            that we specify for a box */
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
}





/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
