// #00bdad graph



.ControlPanel{
    width: 100%;
    // background-color: rgba(0, 0, 0, 0.041);
    // background-color: rgb(248, 246, 242);
}

.CPnButtons{
    display: inline-flex;
    padding-right: 1rem;
    // padding-bottom: 1rem;
    border-bottom-right-radius: 1rem;
    border-right: 1px solid rgba(0, 0, 0, 0.219);
    border-bottom: 1px solid rgba(0, 0, 0, 0.219);
    // background-color: rgb(3, 13, 70);
}

.ControlTitle{
    display: inline-block;
    // text-align: center;
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem;
    background-color: #191d1fe0;;
}

.Buttons{
    display: flex;
    color: #fff;
    // margin-left: auto;

    // &>*{
    //     &:not(:last-child){
    //         // margin-right: 1rem;
    //     }
    // }
}

.FindSunlitActionItem{
    border: 1px solid black;
    display:flex;
    width:17rem;
    height:6rem;
    margin-right: 10rem;
}
.FindSunlitImg{
    
    display: block;
    width: 2rem;
    height: 2rem;
}

.FindSunlitImg img{
    height: 100%;
}

.ImgNmeta{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 5rem 0;
    padding-bottom: 2rem;
    // background-color: rgba(0, 0, 0, 0.027);
    border-top: 1px solid rgba(0, 0, 0, 0.102);
    // border-bottom: 1px solid rgba(0, 0, 0, 0.102);

    // &>*{
    //     &:not(:last-child){
    //         margin-right: 7rem;
    //     }
    // }

}
.Container{
    text-align: center;
    width: 80rem;
    flex-shrink: 1;
    padding: 3rem 2rem;
    min-width: 40rem;
}

.Header{
    background: rgba(14,149,91,1);
    border-bottom: 4px solid white;
    padding: .5rem .2rem;
}

.ImgName{
    font-size: 1.3rem;
    letter-spacing: .1rem;
    color: #fff;
}
.Comparison{
    width: 100%;
}

.Prediction{
    padding: 3rem 2rem;
    width: 100rem;
    flex-shrink: 1;
    min-width: 40rem;
}

.TableWrapper{
    padding: 3rem 2rem;
    width: 90rem;
    flex-shrink: 3;
}

.HistogramWrapper{
    padding: 2rem 5rem;
    // background-color: rgb(47, 47, 47);
}

.Hint{
    font-style: italic;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1rem;
    height:5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Hint_no_margin{
    font-style: italic;
    text-align: center;
    font-size: 1rem;
}

.ModalText{
    // position: absolute;
    font-size: 2rem;
    letter-spacing: 1rem;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding-top: 1rem;

    border-bottom: 2px solid #fff;
    padding-bottom: 1rem;
}

.Analytics{
    text-align: center;
    padding: 0 5rem;
    // border-top: 1px solid rgba(0, 0, 0, 0.102);
    // background-image: linear-gradient(to bottom, #fff, rgba(0, 247, 255, 0.356), #fff);
}

.MeanLeafTempWrapper{
    position: relative;
    padding: 5rem  4rem 5rem 4rem;
    height: 100%;
    margin: 0 auto;
    display: inline-block;
    // filter: blur(100%);
    background-color: rgb(255, 255, 255);
    // border-radius: 100rem;

    & span{
        color: darken(#ffc800, 10%) ;
        font-size: 3rem;
        position: absolute;
        top: 48%;
        left: 49%;
        transform: translate(-50%,-50%);
    }
}
.MeanLeafTempIcon{
    animation: rotateClockwise 120s linear infinite ;
}

.CWSIcon{
    animation: rotateCounterclockwise 120s linear infinite ;
    // transform: rotate(160deg);
}

.MeanLeafTempParagraph{
    color: #181818;
    font-size: 2.6rem;
    margin-bottom: 2rem;
    font-weight: 300;
    
}

.CWSI{
    // color:#00a2ff;
    color: darken(#00a2ff, 15%) ;
    // color: darken(#ffc800, 10%) ;
    font-size: 4.5rem;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-text-stroke: 1px white;
    font-weight: 500;
}

.MeanLeafTemp{
    color: darken(#ffc800, 10%) ;
    font-size: 4.5rem;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%,-50%);
    // -webkit-text-stroke: 1px white;
    // font-weight: 500;
}

.FindSunlitSection{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
    // justify-content: flex-end;
    flex-wrap: nowrap;
    padding: 2rem 0;
    padding-bottom: 2rem;
    // background-color: rgba(0, 0, 0, 0.027);
    border-top: 1px solid rgba(0, 0, 0, 0.102);

}

@media only screen and (max-width: 1490px) {
    .ImgNmeta{
        flex-wrap: wrap;
    }
}


@media only screen and (max-width: 1200px) {
    .HistogramWrapper{
        padding: 2rem 0;
        // background-color: rgb(47, 47, 47);
    }

    .Prediction{
        width: 90rem;
        padding: 1rem 3rem;
        padding-left: 5rem;
    }

    .Container{
        width: 80rem;
    }
    .TableWrapper{
        width: 80rem;
    }
}


@media only screen and (max-width: 600px) {

    .Container{
        flex-grow: 1;
        padding: 1rem 1.5rem;
    }
 
    .Prediction{
        flex-grow: 1;
        padding: 1rem 4rem;
        padding-left: 1.5rem;
    }

    .TableWrapper{
        flex-grow: 1;
        padding: 1rem 1.5rem;
    }

    .Analytics{
        padding: 2rem 0;
    }
    .MeanLeafTempWrapper{
        padding: 3rem 0;
    }
}

@keyframes rotateClockwise {
    0% {transform:  rotate(0);}
    100% {transform: rotate(360deg);}
}
@keyframes rotateCounterclockwise {
    0% {transform:  rotate(0);}
    100% {transform: rotate(-360deg);}
}
