.ControlPanel{
    width: 100%;
    padding: 3rem 2rem;
    background-color: rgba(0, 0, 0, 0.041);
}

.ControlTitle{
    display: block;
    text-align: center;
    color: #0e955b;
    font-size: 2rem;
}

.imgNMeta{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    padding: 5rem 0;
    flex-wrap: wrap;
}
.container{
    text-align: center;
    max-width: 45rem;
    min-width: 45rem;
    flex: 0 0 30%;

    // padding-top: 1rem;
    // min-height: 32rem;
    margin-right: 5rem;
}

.header{
    background: rgba(14,149,91,1);
    border-bottom: 4px solid white;
    padding: .5rem .2rem;
}

.imgName{
    font-size: 1.3rem;
    letter-spacing: .1rem;
    color: #fff;
}
.comparison{
    max-width: 45rem;
}

.buttons{
    align-self: flex-start;
    margin-left: 2rem;
    // flex-grow: 1;
}