// #00bdad graph



.ControlPanel{
    width: 100%;
    // background-color: rgba(0, 0, 0, 0.041);
    // background-color: rgb(248, 246, 242);
}

.CPnButtons{
    display: inline-flex;
    padding-right: 1rem;
    // padding-bottom: 1rem;
    border-bottom-right-radius: 1rem;
    border-right: 1px solid rgba(0, 0, 0, 0.219);
    border-bottom: 1px solid rgba(0, 0, 0, 0.219);
    // background-color: rgb(3, 13, 70);
}

.ControlTitle{
    display: inline-block;
    // text-align: center;
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem;
    background-color: rgb(37, 37, 37);
}

.Buttons{
    display: flex;
    color: #fff;
    // margin-left: auto;

    &>*{
        &:not(:last-child){
            // margin-right: 1rem;
        }
    }
}


.ImgNmeta{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 5rem 0;
    // background-color: rgba(0, 0, 0, 0.027);
    border-top: 1px solid rgba(0, 0, 0, 0.102);
    // border-bottom: 1px solid rgba(0, 0, 0, 0.102);

    // &>*{
    //     &:not(:last-child){
    //         margin-right: 7rem;
    //     }
    // }

}
.Container{
    text-align: center;
    width: 100rem;
    flex-shrink: 2;
    padding: 3rem 5rem;
    min-width: 50rem;
}

.Header{
    background: rgba(14,149,91,1);
    border-bottom: 4px solid white;
    padding: .5rem .2rem;
}

.ImgName{
    font-size: 1.3rem;
    letter-spacing: .1rem;
    color: #fff;
}
.Comparison{
    width: 100%;
}

.Prediction{
    padding: 3rem 5rem;
    width: 100rem;
    flex-shrink: 1;
    min-width: 56rem;
}

.TableWrapper{
    padding: 3rem 5rem;
    width: 100rem;
    flex-shrink: 3;
}

.HistogramWrapper{
    padding: 2rem 5rem;
    // background-color: rgb(47, 47, 47);
}

.Hint{
    font-style: italic;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1rem;
    height:5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Hint_no_margin{
    font-style: italic;
    text-align: center;
    font-size: 1rem;
}
.Analytics{
    padding: 5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.102);
    background-color: rgba(22, 22, 22, 0.075);

}

.ModalText{
    // position: absolute;
    font-size: 2rem;
    letter-spacing: 1rem;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding-top: 1rem;

    border-bottom: 2px solid #fff;
    padding-bottom: 1rem;
}

@media only screen and (max-width: 1490px) {
    .ImgNmeta{
        flex-wrap: wrap;
    }
}


@media only screen and (max-width: 1200px) {
    .HistogramWrapper{
        padding: 2rem 0;
        // background-color: rgb(47, 47, 47);
    }

    .Prediction{
        width: 80rem;
    }

    .Container{
        width: 80rem;
    }
    .TableWrapper{
        width: 80rem;
    }
}


@media only screen and (max-width: 600px) {

    .Container{
        flex-grow: 1;
        padding: 1rem 2.5rem;
    }
 
    .Prediction{
        flex-grow: 1;
        padding: 1rem 2.5rem;
    }

    .TableWrapper{
        flex-grow: 1;
        padding: 1rem 2.5rem;
    }
}

