.NavigationItem {
    margin: 10px 0;
    display: block;
    width: 100%;
    min-width: 10rem;
    width: max-content;

    & a {
        color: #BF5C2C;
        text-decoration: none;
        display: block;
        width: 100%;
        font-size: 14px;

        &:hover,
        &:active,
        &.active{
            color:#40A4C8;
        }
    }

}

@media (min-width: 500px) {
    .NavigationItem {
        margin: 0;
        text-align: center;
        display: flex;
        height: 100%;
        min-width: 10rem;
        width: max-content;
        align-items: center;

        & a {
            color: white;
            height: 100%;
            width: 100%;
            padding: 16px 10px;
            border-bottom: 4px solid transparent;
            font-size: 14px;

            &:hover,
            &:active,
            &.active{
                background-color:  #0fa35e;
                border-bottom: 4px solid rgb(56, 245, 18);
                color: white;
            }
        }
    }
}