.Input {
    width: 100%;
    flex: 0 0 30%;
    position: relative;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: .0rem;
}

.InputElement {
    outline: none;
    text-align: center;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: .6rem 1rem;
    display: block;
    width: 100%;
}

.InputElement:focus {
    outline: none;
    background-color: #ccc;
}

.Invalid {
    border: 1px solid red;
    background-color: #fd9c91
}

.ValidationError {
    width: max-content;
    display: block;
    position: absolute;
    color: red;
    font-size: 1rem;

    // transform:translateX(1.3rem) translateY(.9rem);

    top:110%;
    left:-160%;
    transition: all .5s;
} 