

.ImageUploader{
    display: block;
    
    padding: 0 1rem;
    padding-top: 5rem;
    width: 100%;
    margin: 0 auto;
    min-width: 45rem;

} 
@media (min-width: 500px) {
    .ImageUploader{
        padding-top: 5rem;
        display: block;
        min-width: 45rem;
        width: 30%;
        margin: 0 auto;
        max-height: 60%;
    } 
}




.Message{
    border-top-left-radius: 4rem;
    padding : 1rem 3rem;
    font-size: 1.6rem;
    color: white;
    min-height: 5rem;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    background-color:  #0fa35e;
    flex-wrap: wrap;
    max-width: inherit;
    word-wrap: break-word;
}

.MetadataPanel{

    padding: 1.2rem 2rem 0 2rem;
    background-color: rgb(255, 255, 255);
    display: block;
    min-width: 45rem;
    width: 30%;
    margin: 3rem auto;
    font-size: 1.4rem;
    border: 2px solid rgba(246, 246, 246, 0.027) ;
    margin-bottom: 3rem;


    &__title{
        padding-bottom: 1.2rem;
        display: block;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        color: #0fa35e;
        text-align: center;
        margin-bottom: 1.2rem;
    }

    &__element{
        font-size: 1.5rem;
        text-align: center;
        &:not(:last-of-type){
            
            margin-bottom: .3rem;
        }
        &:last-of-type{
            
            padding-bottom: 1.2rem;
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
            margin-bottom: 2rem;
        }
    }
}

.metaSpan{
    margin-left: .2rem;
    letter-spacing: .1rem;
    color: #0fa35e;
    font-weight: bold;
}

.MetadataForm{
    display: block;
    margin: 0 auto;
    padding: 1.2rem 2rem 0 2rem;
    min-width: 45rem;
    width: 30%;
    font-size: 1.4rem;
    margin-bottom: 5rem;

    &__title{
        font-size: 1.6rem;
        padding-bottom: 1.2rem;
        display: block;
        color: #0fa35e;
        text-align: center;
    }

    &__formField{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;

        &:not(:nth-last-of-type(2)){
            margin-bottom: 2rem;
        }
    }

    &__InputFieldName{
        color: #ffff;
        // border: 1px solid #ccc;
        padding: .75rem 1rem;
        font-size: 1.3rem;
        background-color:  #0e955b;;
        flex: 0 0 70%;
        text-align: center;
        font-weight: bold;
    }
}
.Buttons{
    display: flex;
    
    &>*{
        flex: 0 0 50%;
    }
}
