.Button {
    display: flex;
    align-items: center;
    outline: none;
    border: 1px solid transparent;
    background-color: transparent;
    padding: .5rem 1rem;
    color: black;
    cursor: pointer;
    font: inherit;
    font-size: 1.2rem;
    transition: all .25s ease-in-out;

    &:disabled{
        cursor: not-allowed;
    }

    >*:not(:last-child){
        margin-right: .5rem;
    }
}

.Success {
    
    transition: all .15s ease-in-out;
    
    &:hover {
        // border-bottom: 1px solid rgb(8, 109, 38);
        transform: translate(.5rem);
    }

    &:active {
        transform: translateX(.5rem) translateY(.3rem);
    }
}

.Danger {

        &:hover {
            // border-bottom: 1px solid rgb(136, 8, 8);
            transform: translate(.5rem);
        }

        &:active {
            transform: translate(.5rem) translateY(.3rem);
        }
}

.Button:disabled {
    cursor: not-allowed;
    // color: #ccc;
}